@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.scss';
@import 'components/modal.scss';
@import 'components/todo.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
}
#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page {
  &__header {
    font-family: "lato-bold", sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    margin-bottom: 32px;
  }
}

.create-todo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;

  &__input {
    width: 499px;
    height: 44px;
    background-color: #f3f3f3;
    padding-left: 27px;
    border-radius: 8px;
    font-family: "lato-regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  &__button {
    width: 100px;
    height: 44px;
    font-family: "lato-regular", sans-serif;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    background-color: #3178c6;
    color: white;
  }
}
.counter {
  font-family: "lato-regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 100px;
}
.list-check{
  padding-top: 20px;
  text-align: center;
  font-family: 'lato-regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.todos {
  padding-left: 45px;
}

