@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.scss';
@import 'components/modal.scss';
@import 'components/todo.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
}
#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list-check{
  padding-top: 20px;
  text-align: center;
  font-family: 'lato-regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.todos {
  padding-left: 45px;
}

